.formulario{
	padding: 0 6em;
}
fieldset{
	margin:0;
	padding: 0;
}
#outputDiv{
	font-size: 20px;
	text-align: center;
	background-color: rgba(0,0,0,.2);
	margin: 15px 0;
	border-radius: 10px;
	clear: both;
}
.clear-fix{
	clear: both;
}
.carro{
	background: url(../images/carro.png);
	background-repeat: no-repeat;
	background-size: 20em;
	width: 400px;
	height: 400px;
	position: absolute;
	z-index: -1;
	opacity: .8;
}
.btn-center{
	display: block;
	margin:  15px auto;
	width: 90px;
	clear: both;
	position: relative;
	top: 20px;
}

h4{
	color: #3276B1;
	text-align: center;
	text-decoration: underline;
	font-size: 40px;
}

.ruta{
	
	background-image: none;
	}

.ubicacion{
	height: 300px;
	width: 720px;
	background-position: center;
	border-radius: .8em .8em .8em .8em;
}

#mapa{
	padding: top;
      height: 400px;
      background-color: white;
    }

.frminicio{
	border-color: transparent;

}

h3{
	color: #3276B1;
	text-align: center;
	font-size: 28px;
}

/********** TABLA CONTACTENOS*************/

.tabla{
	/*border: solid;*/
	color: #3276B1;
	border-top: solid;
}

.cabezera{
	font-size: 20px;
	background-color: #E7E7E7;
}

.filas{
	border-top: solid;
}

/************ mapas****************/
#mapa{
  min-height: 500px;
  border-radius: 15px;
}
#destino,#partida{
  min-height: 300px;
  border-radius: 15px;
}
/*************titulo****************/
.h1-main{
	font-size: 45px;
	position: absolute;
	text-align: center;
	top:30%;
	left:40%;
}

.men_usu{
	background: #E8E8E8;
	text-decoration: none;
	color: #777777;
	border-radius: .5em .5em .5em .5em;
	padding: .1em 1em .1em 1em;
}
.margin-tb{
	margin: 15px 0;
}


	#mapageo { 
		background: transparent; 
		height: 500px; 
		width: 100%; 
	}
	#informacion { position: absolute; background: rgba(0,16,27,.85); z-index: 200;
	 top: 70%; width: 30%; padding: 12px;left: 135px; }
	
	#informacion h2,
	#informacion h3 { color: #FFFFFF; text-shadow: 1px 1px 1px #000000; font-weight: normal; font-size: 1.1em; }
	
	#informacion h2 { font-size: 1.4em; margin-bottom: 10px; }
	
	#informacion h3 span { color: #FFF555; }



.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }